.logo-emp{
	text-align: center;
	font-size: 38px;
	font-weight: 700;
	color: #000;
}

.logo-emp-1{
	text-align: center;
	width: 45px;
	background-color:#fff;
	text-decoration: none;
}
@media(min-width:990px){
	.form-espacing{
		margin-left: 50px;
	}
	.centrar-div{
		margin: auto;
	}
}
main{
	margin-top: 90px;
}
.centrat{
	margin: auto;
}
.estilos-letra{
	font-style: oblique;
	font-weight: bold;
	font-size: 30px;
	margin-top: 20px;
}
.btn-centrar{
	width: 100%;
}
@media(min-width:1024px){
	.estilos-letra{
		font-style: oblique;
		font-weight: bold;
		font-size: 60px;
		margin-top: 20px;
	}
	.btn-centrar{
		width: 48%;
	}
}


#form {
  width: 250px;
  margin: 0 auto;
  height: 50px;
}

#form p {
  text-align: center;
}

#form label {
  font-size: 20px;
}

input[type="radio"] {
  display: none;
}

label {
  color: grey;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}

label:hover,
label:hover ~ label {
  color: orange;
}

input[type="radio"]:checked ~ label {
  color: orange;
}